<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="main-container">

    <!-- LEFT TITLE (SAME AS LOGIN) -->
    <div class="left-text">
        <h1>PROACTIVE HUMAN</h1>
        <h2>FATIGUE</h2>
        <h3>DETECTION SYSTEM</h3>
    </div>

    <!-- REGISTER CARD -->
    <div class="login-card">
        <h4>Register</h4>

        <input type="text" placeholder="Enter your name">
        <input type="email" placeholder="Enter your email">
        <input type="password" placeholder="Enter your password">
        <input type="password" placeholder="Confirm your password">

        <button class="login-btn">Sign Up</button>

        <p class="register-text">
            Already have an account? <a href="login.html">Login</a>
        </p>
    </div>

</div>

</body>
</html>

